@page "/{TokenSeed?}"

@using System.Text
@using System.Text.Json
@using CrypToadzChained.Shared

@inject HttpClient Http;
@inject ILogger<Index> Logger;
@inject NavigationManager Nav;

<PageTitle>CrypToadzChained</PageTitle>

<div class="container">
    
    <div class="form-group">
        <label for="url">Web3 URL:</label>
        <input id="url" type="text" class="form-control" @bind="Url" placeholder="Leave blank to use our server, or paste your own Web3 RPC URL (Rinkeby)" />
    </div>
    
    <br/>

    <div class="form-group">
        <label for="tokenId">Token ID:</label>
        <input id="tokenId" type="text" class="form-control" @bind="TokenId" placeholder="Enter the Token ID of a real CrypToadz NFT"/>
        <button class="btn btn-secondary" @onclick="OnFetchClicked">Fetch</button>
    </div>

    <br/>

    <div class="form-group">
        <label for="tokenSeed">Token Seed:</label>
        <input id="tokenSeed" type="text" class="form-control" @bind="TokenSeed" placeholder="Enter a random seed for a random, unofficial CrypToadz NFT"/>
        <button class="btn btn-secondary" @onclick="OnRandomClicked">Generate</button>
        <button class="btn btn-secondary" @onclick="OnLuckyClicked">I'm Feeling Lucky</button>
    </div>

</div>


<br />
<br />

<div>
    <section>
        <div class="container">
            
            @if (!string.IsNullOrWhiteSpace(Error))
            {
                <div class="alert alert-danger">@Error</div>
            }
            else
            {
                @if (Metadata != null)
                {
                    <div class="row align-items-start justify-content-around">
                        <div class="col-md-9 col-lg col-xl-4 sticky-lg-top mb-5 mb-lg-0">
                            <ul class="list-group">
                                @foreach (var metadataAttribute in Metadata.Attributes)
                                {
                                    <li class="list-group-item px-4 py-3 d-flex justify-content-between">
                                        <h6 class="mb-0">@metadataAttribute.TraitType</h6>
                                        <div><strong>@metadataAttribute.Value?.ToString()</strong></div>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="col-xl-7 col-lg-8 col-md-9">
                            <article>
                                <h2 class="h2">@Metadata.Name</h2>
                                <p class="mb-5">
                                    <img style="image-rendering: -moz-crisp-edges; image-rendering: -webkit-crisp-edges; image-rendering: pixelated; width: 100%; height: 100%" src="@ImageUri" alt="@Metadata.Name" />
                                </p>
                                <p class="lead text-center">
                                    @Metadata.Description
                                </p>
                            </article>
                        </div>
                    </div>

                    @if (!string.IsNullOrWhiteSpace(TokenSeed))
                    {
                        <a href="/@TokenSeed" target="_blank">Share This Random Toad</a>
                    }
                }
                else if (IsLoading)
                {
                    <div class="spinner"></div>
                }
            }

            
        </div>
    </section>
</div>

@code
{
    [Parameter]
    public string? Url { get; set; }

    [Parameter]
    public string? TokenUri { get; set; }

    [Parameter]
    public string? TokenId { get; set; }

    [Parameter]
    public string? TokenSeed { get; set; }

    [Parameter]
    public string? ImageUri { get; set; }

    [Parameter]
    public string? ImageDataUri { get; set; }

    [Parameter]
    public bool IsLoading { get; set; }

    [Parameter]
    public JsonTokenMetadata? Metadata { get; set; }

    [Parameter]
    public string? Error { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrWhiteSpace(TokenSeed))
        {
            await OnRandomClicked();
        }
    }

    private async Task OnFetchClicked()
    {
        if (string.IsNullOrWhiteSpace(TokenId) || !uint.TryParse(TokenId, out var tokenId))
            return;


        IsLoading = true;

        try
        {
            TokenSeed = null;
            Metadata = null;
            ImageUri = null;
            ImageDataUri = null;
            Error = null;

            if (!string.IsNullOrWhiteSpace(Url))
            {
                var service = new ToadzService();
                var body = await service.GetCanonicalTokenURIAsync(tokenId, Url, "0x8E20336F2eF96bd9e2636937Bf53af8783a4bA0B", Logger);
                WithBody(body, false);
            }
            else
            {
                var response = await Http.GetAsync($"toadz/tokenURI/{tokenId}");
                await WithResponse(response, false);
            }
        }
        catch(Exception ex)
        {
            Logger.LogError(ex, "Failed to fetch tokenURI");
        }
        finally
        {
            IsLoading = false;
        }
    }

    private async Task OnRandomClicked()
    {
        if (string.IsNullOrWhiteSpace(TokenSeed))
        {
            await OnLuckyClicked();
            return;
        }

        IsLoading = true;

        try
        {
            Metadata = null;
            ImageUri = null;
            ImageDataUri = null;
            Error = null;

            if (!string.IsNullOrWhiteSpace(Url))
            {
                var service = new ToadzService();
                var body = await service.GetRandomTokenURIFromSeedAsync(TokenSeed, Url, "0x1546bed87a61B98199326D6742478a2b1f8b55fA");
                WithBody(body, true);
            }
            else
            {
                var response = await Http.GetAsync($"toadz/random/{TokenSeed}");
                await WithResponse(response, true);
            }
        }
        catch(Exception ex)
        {
            Logger.LogError(ex, "Failed to fetch random tokenURI");
        }
        finally
        {
            IsLoading = false;
        }
    }

    private async Task OnLuckyClicked()
    {
        IsLoading = true;

        try
        {
            TokenSeed = null;
            Metadata = null;
            ImageUri = null;
            ImageDataUri = null;
            TokenId = null;

            if (!string.IsNullOrWhiteSpace(Url))
            {
                var service = new ToadzService();
                var body = await service.GetRandomTokenURIAsync(Url, "0x1546bed87a61B98199326D6742478a2b1f8b55fA");
                WithBody(body, true);
            }
            else
            {
                var response = await Http.GetAsync($"toadz/random");
                await WithResponse(response, true);
            }
        }
        catch(Exception ex)
        {
            Logger.LogError(ex, "Failed to fetch random tokenURI");
        }
        finally
        {
            IsLoading = false;
        }
    }

    private async Task WithResponse(HttpResponseMessage response, bool random)
    {
        if (response.IsSuccessStatusCode)
        {
            var body = await response.Content.ReadAsStringAsync();

            WithBody(body, random);
        }
        else
        {
            Error = $"{response.StatusCode}: {response.ReasonPhrase}";
        }
    }

    private void WithBody(string body, bool random)
    {
        TokenUri = body;
        if (!TokenUri.StartsWith("data:application/json;base64,"))
        {
            Error = TokenUri;
            TokenUri = null;
        }
        else
        {
            if (!string.IsNullOrWhiteSpace(TokenUri))
            {
                var data = TokenUri.Replace("data:application/json;base64,", "");
                var buffer = Convert.FromBase64String(data);
                var json = Encoding.UTF8.GetString(buffer);
                Metadata = JsonSerializer.Deserialize<JsonTokenMetadata>(json);
                ImageUri = Metadata?.Image;
                ImageDataUri = Metadata?.ImageData;

                if (random)
                {
                    TokenSeed = Metadata?.Name?.Replace("CrypToadz #", "");
                }

                Nav.NavigateTo(TokenSeed ?? "/");
            }
        }
    }
}
