@page "/parity"
@inherits PageBase

<div class="container">
    
    <EditForm Model="@Model">
        <DataAnnotationsValidator />
        
        <div class="form-group">
            <label for="contractAddress">On-Chain Contract Address:</label>
            <input id="contractAddress" type="text" class="form-control" @bind="Options.Value.OnChainContractAddress" />
        </div>
        
        <br />
        
        <ToggleInputText Label="On-Chain RPC URL" @bind-Text="@Options.Value.OnChainRpcUrl" @bind-HideFields="@Options.Value.HideSensitiveFields"></ToggleInputText>
        
        <div class="form-group">
            <label for="source">Source:</label>
            <InputSelect id="source" class="form-control"
                         ValueExpression="@(() => Model.Source)"
                         Value="Model.Source"
                         ValueChanged="@((ParitySource value) => @OnSourceChanged(value))">
                @foreach (var value in EnumExtensions.GetValues<ParitySource>())
                {
                    <option value="@value">@value.Describe()</option>
                }
            </InputSelect>
        </div>
        
        <br />
        
        @switch (Model.Source)
        {
            case ParitySource.IPFS:
                <div class="form-group mb-3">
                    <label for="ipfsCid">IPFS CID:</label>
                    <input id="ipfsCid" type="text" class="form-control" @bind="Options.Value.IpfsCid" />
                </div>
                <ToggleInputText Label="IPFS Gateway URL" @bind-Text="@Options.Value.IpfsUrl" @bind-HideFields="@Options.Value.HideSensitiveFields"></ToggleInputText>
                <ToggleInputText Label="IPFS Username" @bind-Text="@Options.Value.IpfsUsername" @bind-HideFields="@Options.Value.HideSensitiveFields"></ToggleInputText>
                <ToggleInputText Label="IPFS Password" @bind-Text="@Options.Value.IpfsPassword" @bind-HideFields="@Options.Value.HideSensitiveFields"></ToggleInputText>
                break;
            case ParitySource.Mainnet:
                <ToggleInputText Label="MainNet RPC URL" @bind-Text="@Options.Value.MainnetRpcUrl" @bind-HideFields="@Options.Value.HideSensitiveFields"></ToggleInputText>
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }

        <br />
        
        <div class="form-group">
            <label for="scope">Scope:</label>
            <InputSelect id="scope" class="form-control"
                         ValueExpression="@(() => Model.Scope)"
                         Value="Model.Scope"
                         ValueChanged="@((ParityScope value) => @OnScopeChanged(value))">
                @foreach (var value in EnumExtensions.GetValues<ParityScope>())
                {
                    <option value="@value">@value.Describe() (@ParityService.GetScopeIdCount((ParityScope) @value))</option>
                }
            </InputSelect>
        </div>
        
        <br /> 

        <div class="form-check form-switch form-check-inline">
            <input type="checkbox" class="form-check-input" id="continueOnError" @bind="Model.ContinueOnError">
            <label class="form-check-label" for="continueOnError">Continue on error</label>
        </div>
        
        <div class="form-check form-switch form-check-inline">
            <input type="checkbox" class="form-check-input" id="onlyShowErrors" @bind="OnlyShowErrors">
            <label class="form-check-label" for="onlyShowErrors">Only show errors</label>
        </div>

        <br />
        <br />
        
        @if (!IsRunning && string.IsNullOrWhiteSpace(Error) && _state != null)
        {
            if (_state.Errors.Count == 0)
            {
                <div class="alert alert-success">Tests passed :)</div>
            }
            else
            {
                <div class="alert alert-danger">Tests failed :(</div>
            }
        }

        @if (IsRunning)
        {
            <button class="btn btn-dark" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Running...
            </button>

            <button class="btn btn-danger" @onclick="StopAsync">Cancel</button>
        }
        else
        {
            if (CanRunArweave || CanRunIpfs)
            {
                <button class="btn btn-dark" @onclick="StartAsync">Start Test</button>
            }
            else
            {
                <button class="btn btn-dark" @onclick="StartAsync" disabled>Start Test</button>
            }
        }

    </EditForm>
    
    <br/>
    <br/>
    
    @if (!string.IsNullOrWhiteSpace(Error))
    {
        <div class="alert alert-danger">@Error</div>
    }

    @if(_state != null)
    {
        <br />

        <Table TableItem="ParityStateRow" Items="@Rows" PageSize="15">
            <Column TableItem="ParityStateRow" Title="Token ID" Field="@(r => r.TokenId)" Sortable="true" Filterable="true" Width="72px"/>
            <Column TableItem="ParityStateRow" Title="@Enum.GetName(Model.Source)" Field="@(x => x.SourceImageUri!)" Width="72px">
                <Template>
                    @if (!string.IsNullOrWhiteSpace(context.SourceImageUri))
                    {
                        <img style="image-rendering: -moz-crisp-edges; image-rendering: -webkit-crisp-edges; image-rendering: pixelated; width: 72px; height: 72px" src="@context.SourceImageUri" alt=""/>
                    }
                </Template>
            </Column>
            <Column TableItem="ParityStateRow" Title="On-Chain" Field="@(x => x.TargetImageUri!)" Width="72px">
                <Template>
                    @if (!string.IsNullOrWhiteSpace(context.TargetImageUri))
                    {
                        <img style="image-rendering: -moz-crisp-edges; image-rendering: -webkit-crisp-edges; image-rendering: pixelated; width: 72px; height: 72px" src="@context.SourceImageUri" alt=""/>
                    }
                </Template>
            </Column>
            <Column TableItem="ParityStateRow" Title="Image" Field="@(x => x.DeltaImageUri!)" Width="72px">
                <Template>
                    @if (!string.IsNullOrWhiteSpace(context.DeltaImageUri))
                    {
                        <div class="imageOverlay">
                            <img style="image-rendering: -moz-crisp-edges; image-rendering: -webkit-crisp-edges; image-rendering: pixelated; width: 72px; height: 72px" src="@context.DeltaImageUri" alt=""/>
                            @if (context.BadPixels.GetValueOrDefault() == 0)
                            {
                                <div class="centeredOverImage" style="color: green;">
                                    <i class="oi oi-circle-check align-middle" aria-hidden="true"></i>
                                </div>
                            }
                            else
                            {
                                <div class="centeredOverImage" style="color: red;">
                                    <i class="oi oi-circle-x align-middle" aria-hidden="true"></i>
                                </div>
                            }
                        </div>
                    }
                </Template>
            </Column>
            <Column TableItem="ParityStateRow" Title="Metadata" Field="@(x => x.DeltaJson!)" Width="72px">
                <Template>
                    <div class="imageOverlay">
                        <img style="width: 72px; height: 72px" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt=""/>
                        @if (string.IsNullOrWhiteSpace(context.DeltaJson))
                        {
                            <div class="centeredOverImage" style="color: green;">
                                <i class="oi oi-circle-check align-middle" aria-hidden="true"></i>
                            </div>
                        }
                        else
                        {
                            <div class="centeredOverImage" style="color: red;">
                                <i class="oi oi-circle-x align-middle" aria-hidden="true"></i>
                            </div>
                        }
                    </div>
                </Template>
            </Column>
            <Pager ShowPageNumber="true" ShowTotalCount="true" />
            <EmptyDataTemplate>
                @if (OnlyShowErrors)
                {
                    <span>No errors.</span>
                }
                else
                {
                    <span>No results.</span>
                }
            </EmptyDataTemplate>
        </Table>

        @if (_state.Errors.Count > 0)
        {
            <br/>

            <h4>Errors</h4>

            <Table TableItem="ParityError" Items="@_state.Errors" PageSize="15">
                <Column TableItem="ParityError" Title="Source" Field="@(r => r.Source!)" Sortable="true" Filterable="true" />
                <Column TableItem="ParityError" Title="TokenId" Field="@(r => r.TokenId!)" Sortable="true" Filterable="true"/>
                <Column TableItem="ParityError" Title="Category" Field="@(r => r.Category!)" Sortable="true" Filterable="true"/>
                <Column TableItem="ParityError" Title="Message" Field="@(r => r.Message)" Sortable="true" Filterable="true"/>
                <Pager ShowPageNumber="true" ShowTotalCount="true"/>
            </Table>
        }
    }
</div>


<br />
<br />

<div>
    <section>
        <div class="container">
        </div>
    </section>
</div>

@code
{
    [Parameter]
    public ParityOptions Model { get; set; } = new();

    [Parameter]
    public bool IsRunning { get; set; }

    [Parameter]
    public string? Error { get; set; }

    [Parameter]
    public bool OnlyShowErrors { get; set; }

    private IEnumerable<ParityStateRow> Rows
    {
        get
        {
            if (_state == null)
                return Enumerable.Empty<ParityStateRow>();

            var source = _state.Rows.AsEnumerable();
            
            switch (OnlyShowErrors)
            {
                case false when _state.Errors.Count == 0:
                    return source;
                case true when _state.Errors.Count == 0:
                    return Enumerable.Empty<ParityStateRow>();
                case true:
                    source = source.Where(r => _state.Errors.Any(e => e.TokenId == r.TokenId));
                    break;
            }

            return source;
        }
    }

    public bool HasError(uint tokenId)
    {
        if (_state == null)
            return false;
        return _state.Errors.Any(x => x.TokenId == tokenId);
    }

    protected override Task OnInitializedAsync()
    {
        ParityService.OnChangeAsync += StateHasChangedAsync;
        return Task.CompletedTask;
    }

    private async Task StateHasChangedAsync()
    {
        await TryRunDeltasAsync();

        await InvokeAsync(StateHasChanged);
    }

    private async Task TryRunDeltasAsync()
    {
        if (IsRunning && _state != null)
        {
            foreach (var row in _state.Rows)
            {
                if (string.IsNullOrWhiteSpace(row.SourceImageUri) || string.IsNullOrWhiteSpace(row.TargetImageUri))
                    continue; // delta can't be processed

                if (!string.IsNullOrWhiteSpace(row.DeltaImageUri))
                    continue; // delta already processed

                var response = await Http.PostAsJsonAsync("toadz/compare", row);
                if (response.IsSuccessStatusCode)
                {
                    var json = await response.Content.ReadAsStringAsync();
                    var newRow = JsonSerializer.Deserialize<ParityStateRow>(json, new JsonSerializerOptions(JsonSerializerDefaults.Web));

                    if (newRow != null)
                    {
                        row.BadPixels = newRow.BadPixels;
                        row.DeltaImageUri = newRow.DeltaImageUri;
                        
                        if (!(row.BadPixels > 0)) continue;

                        _state.Errors.Add(new ParityError
                        {
                            Source = ParityService.OnChainSource,
                            TokenId = row.TokenId, 
                            Category = ParityErrorCategory.Image,
                            Message = $"{row.BadPixels} bad pixels"
                        });
                        if (Model.ContinueOnError) continue;

                        await StopAsync();
                        Error = "Tests failed :(";
                        return;
                    }
                }
                else
                {
                    _state.Errors.Add(new ParityError { TokenId = row.TokenId, Message = $"Error calling endpoint to compare images: {(int) response.StatusCode} {response.ReasonPhrase}"});
                    if (Model.ContinueOnError) continue;

                    await StopAsync();
                    Error = "Tests failed :(";
                    return;
                }
            }
        }
    }

    public void Dispose()
    {
        ParityService.OnChangeAsync -= StateHasChangedAsync;
    }

    private Task OnSourceChanged(ParitySource source)
    {
        Model.Source = source;
        return Task.CompletedTask;
    }

    private Task OnScopeChanged(ParityScope scope)
    {
        Model.Scope = scope;
        return Task.CompletedTask;
    }
    
    private CancellationTokenSource? _cancellationTokenSource;
    private CancellationToken? _cancellationToken;
    private ParityState? _state;
    private Task<ParityState>? _pending;

    private async Task StartAsync()
    {
        if (IsRunning)
            return;

        Error = null;

        try
        {
            IsRunning = true;

            _cancellationTokenSource = new CancellationTokenSource();
            _cancellationToken = _cancellationTokenSource.Token;
            _pending = DoWorkAsync(_cancellationToken.GetValueOrDefault(CancellationToken.None));

            var result = await _pending;

            if (!IsCancelled)
            {
                _state = result;
            }
        }
        catch (Exception e)
        {
            var cancelled = IsCancelled;

            if (!cancelled)
            {
                Logger?.LogError(e, "Failed parity check");
            }

            Error = cancelled
                ? "Parity check was cancelled by the user" 
                : e.Message;
        }
        finally
        {
            FinishTask();
        }
    }

    private Task StopAsync()
    {
        try
        {
            _cancellationTokenSource?.Cancel();
            _cancellationToken?.ThrowIfCancellationRequested();
        }
        catch (Exception e)
        {
            var cancelled = IsCancelled;

            if (!cancelled)
            {
                Logger?.LogError(e, "Failed parity check");
            }

            Error = cancelled
                ? "Parity check was cancelled by the user" 
                : e.Message;
        }
        finally
        {
            FinishTask();
        }
        
        return Task.CompletedTask;
    }

    private bool IsCancelled => (_cancellationTokenSource?.IsCancellationRequested).GetValueOrDefault();

    private void FinishTask()
    {
        IsRunning = false;
        {
            _cancellationToken = null;
            _cancellationTokenSource?.Dispose();
            _cancellationTokenSource = null;
        }
        StateHasChanged();
    }

    private async Task<ParityState> DoWorkAsync(CancellationToken cancellationToken)
    {
        cancellationToken.ThrowIfCancellationRequested();

        _state = new ParityState();
        await ParityService.StartAsync(Model, Options.Value, _state, Http, Logger, cancellationToken);
        return _state;
    }

    private bool CanRunArweave => Model.Source == ParitySource.Mainnet && !string.IsNullOrWhiteSpace(Options.Value.MainnetRpcUrl);
    private bool CanRunIpfs => Model.Source == ParitySource.IPFS && !string.IsNullOrWhiteSpace(Options.Value.IpfsCid) && !string.IsNullOrWhiteSpace(Options.Value.IpfsUrl);
}
